body {
    color: #125318;
    margin: 50px;
    min-width: 500px;
    background-color: #d0f8eb;
}

hr {
    display: none;
}

.nginx-list {
    min-width: 500px;
    padding: 40px 40px;
    border-bottom: 2px rgba(18, 83, 24, 0.44) solid;
    border-top: 2px rgba(18, 83, 24, 0.44) solid;
}

.nginx-list > li {
    display: flex;
    list-style: none;
    line-height: 34px;
    border-bottom: 1px rgba(18, 83, 24, 0.44) solid;
    padding: 0 10px;
}

.nginx-list > li.back .svg-icon {
    height: 25px;
    margin: 5px 0;
    fill: #125318;
}

.nginx-list > li:hover {
    background-color: #a5f29f;
    border-bottom-color: #125318;
}

.nginx-list > li .date {
    order: 1;
    flex: 1;
    text-align: start;
    margin-right: 20px;
}

.nginx-list > li .size {
    order: 3;
    flex: 1;
    text-align: end;
    min-width: 75px;
}

.nginx-list > li a {
    order: 2;
    flex: 3;
    margin-right: 20px;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.nginx-list > li a,
.nginx-list > li a:visited {
    text-decoration: none;
    color: black;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.nginx-list > li span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 300px;
    display: inline-block;
    color: #666;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255, 255, 255, 0.45);
}